<div id="rectangulos" style="background: <%= paletaTriada[0] %>d0;">
    <div style="background: <%= paletaTriada[0] %>;"><p style="color:<%= paletaTriada[1] %>"><%= paletaTriada[0] %></p></div>

    <div style="background: <%= paletaTriada[1] %>;"><p style="color:<%= paletaTriada[0] %>"><%= paletaTriada[1] %></p></div>

    <div style="background: <%= paletaTriada[2] %>;"><p style="color:<%= paletaTriada[1] %>"><%= paletaTriada[2] %></p></div>

    <div style="background: <%= paletaTriada[3] %>;"><p style="color:<%= paletaTriada[1] %>"><%= paletaTriada[3] %></p></div>
   </div>