<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <!-- Krona One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/generar.css">
    <!-- Estilo nav -->
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <!-- Estilo nav-colores -->
    <link rel="stylesheet" href="/stylesheets/nav-colores.css">

    <title>Generar</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <section id="principal">

        <%- include('./partials/nav-colores.ejs') %>
        
         
        <div id="bloque1" style="background: <%= paletaTriada[0] %>d0;">
            <div id="texto">
                <!-- <h1 style="color: <%= paletaTriada[1] %>;">Color<span style="color: <%= paletaTriada[2] %>">Craft</span></h1> -->
                <%- include('./partials/olas.ejs') %>

                
                
            </div>

            
       </div>
       <%- include('./partials/rectangulos.ejs') %>
    </section>

    
    
</body>
</html>