<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/generar.css">

    <!-- Google Fonts Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <!-- Krona One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    
    <!--  Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <!-- Estilo nav -->
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <!-- Estilo nav-colores -->
    <link rel="stylesheet" href="/stylesheets/nav-colores.css">
    <!-- Estilo rectangulos -->
    <link rel="stylesheet" href="/stylesheets/rectangulos.css">


    <title>Generar</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/nav-colores.ejs') %>

    <section id="principal">
        <div id="bloque1" style="background: <%= paletaTriada[0] %>d0;">
            <div id="fondo">
                <div id="texto" style="background: <%= paletaTriada[0] %>;">
                    <h1 style="color: <%= paletaTriada[2] %>;">Color<span style="color: <%= paletaTriada[3] %>">Craft</span>
                    </h1>

                    <p style="color:<%= paletaTriada[1] %> ">¡Bienvenido a ColorCraft! Nuestra plataforma te ofrece la magia de crear paletas de colores únicas en solo unos clics. Explora tu creatividad y encuentra inspiración con nuestra herramienta fácil de usar. ¡Embárcate en un viaje de color ahora mismo!</p>
                    
                </div>
                <%- include('./partials/olas.ejs') %>

                
                
            </div>
            
       </div>
       <%- include('./partials/rectangulos.ejs') %>
    </section>

    
    
</body>
</html>